@use "./colors";
@use "./mixins";

::-moz-selection {
  color: map_get(colors.$theme-colors, selectionColor);
  background: map_get(colors.$theme-colors, selectionBg);
}

::selection {
  color: map_get(colors.$theme-colors, selectionColor);
  background: map_get(colors.$theme-colors, selectionBg);
}

::-webkit-scrollbar-track {
  background: map_get(colors.$theme-colors, scrollTrackBg);
}

::-webkit-scrollbar-thumb {
  background: map_get(colors.$theme-colors, scrollThumbBg);

  &::-webkit-scrollbar-thumb:hover {
    background: map_get(colors.$theme-colors, scrollThumbHoverBg);
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.default-link {
  color: map_get(colors.$theme-colors, primary);
  text-decoration: none;
  transition: 0.3s all ease;

  &:hover {
    transform: translateX(10px);
    color: map_get(colors.$theme-colors, secondary);
  }
}

.filter-invert {
  filter: invert(1);
}

.main_shadow {
  @include mixins.prefix(
    box-shadow,
    0 2px 14px 0 rgba(0, 0, 0, 0.1),
    webkit ms o
  );
}

.pac-container {
  z-index: 9999 !important;
}

.v-rating__item {
  color: goldenrod;

  // .v-btn--icon.v-btn--density-default {
  //   width: fit-content;
  //   height: fit-content;
  // }
}

.p-calendar {
  position: relative;
  height: 50px !important;

  .p-inputtext {
    height: 50px;
    border-radius: 0;
    padding-inline-start: 40px;
  }

  .p-button {
    height: 50px;
    background-color: transparent;
    color: #000;
    border: 0;
    position: absolute;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

i.fa-star {
  color: map_get(colors.$theme-colors, orange-color);
  font-size: 13px;
}

hr {
  border-top-color: #c6a3a3 !important;
}

@keyframes actDown {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

// radius
@for $i from 1 through 30 {
  .radius#{$i} {
    border-radius: $i + px !important;
  }
}

// gap
@for $i from 1 through 50 {
  .gap#{$i} {
    gap: $i + px !important;
  }
}

// font size
@for $i from 1 through 100 {
  .font#{$i} {
    font-size: $i + px !important;

    @media screen and (max-width: 425px) {
      font-size: ($i - 2) + px !important;
    }
  }
}

// height
@for $i from 1 through 200 {
  .height#{$i} {
    height: $i + px !important;
  }
}

// width
@for $i from 1 through 200 {
  .width#{$i} {
    width: $i + px !important;
  }
}

// margin start
@for $i from 1 through 50 {
  .m-start-#{$i} {
    margin-inline-start: $i + px !important;
  }
}

// margin end
@for $i from 1 through 50 {
  .m-end-#{$i} {
    margin-inline-end: $i + px !important;
  }
}

// padding start
@for $i from 1 through 50 {
  .p-start-#{$i} {
    padding-inline-start: $i + px !important;
  }
}

// padding end
@for $i from 1 through 50 {
  .p-end-#{$i} {
    padding-inline-end: $i + px !important;
  }
}

// margin top
@for $i from 1 through 100 {
  .m-top-#{$i} {
    margin-top: $i + px !important;
  }
}

// margin bottom
@for $i from 1 through 100 {
  .m-bottom-#{$i} {
    margin-bottom: $i + px !important;
  }
}

// padding top
@for $i from 1 through 100 {
  .p-top-#{$i} {
    padding-top: $i + px !important;
  }
}

// padding bottom
@for $i from 1 through 100 {
  .p-bottom-#{$i} {
    padding-bottom: $i + px !important;
  }
}

// z-index
@for $i from 1 to 100 {
  .z-index#{$i} {
    z-index: #{$i} !important;
  }
}

/* start common style*/

* {
  @include mixins.prefix(box-sizing, border-box, webkit ms o);
}

html {
  scroll-behavior: smooth;
}

body,
.v-application {
  font-family: "Montserrat", sans-serif;
  text-align: left !important;
  direction: ltr !important;
  font-size: 14px;
  color: #000;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html[lang="ar"] {
  body,
  .v-application {
    font-family: "El Messiri", sans-serif;
    direction: rtl !important;
    text-align: right !important;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  @include mixins.transition(background 0.3s ease-in-out);
}

::-webkit-scrollbar-track {
  @include mixins.border-radius(50px);
}

::-webkit-scrollbar-thumb {
  @include mixins.border-radius(50px);
}

.btn {
  @include mixins.border-radius(0);
  @include mixins.transition(all 0.5s ease-in-out);
  @extend .flex-center;
  height: 50px;
  font-size: 13px;
  min-width: 200px;
  border: 1px solid #fff;
  border-color: #fff !important;

  .ic {
    max-width: 17px;
  }

  &.sm {
    min-width: 130px;
  }

  &.transparent {
    background-color: transparent !important;
    border-color: map_get(colors.$theme-colors, primary) !important;
    color: map_get(colors.$theme-colors, primary);
  }
}

.btn-unstyed {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: #656565;
}

.dir {
  direction: ltr !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

ul {
  @include mixins.reset-list;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

html[lang="ar"] {
  [type="email"],
  [type="number"],
  [type="tel"],
  [type="url"] {
    direction: rtl;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

p {
  line-height: 1.8;
}

.title {
  font-family: "Montagu Slab", serif;
}

.montagu {
  font-family: "Montagu Slab", serif;
}

html[lang="ar"] {
  .title {
    font-family: "El Messiri", sans-serif !important;
  }

  .montagu {
    font-family: "El Messiri", sans-serif;
  }
}

.ar-font {
  font-family: "El Messiri", sans-serif !important;
}

.p-divider.p-divider-horizontal {
  &::before {
    height: 1px;
    background-color: #e3e3e3;
  }
}

input.default {
  border: 1px solid #ddd !important;
  height: 40px !important;
  box-shadow: none !important;
  @include mixins.border-radius(5px);

  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }

  &::placeholder {
    color: #656565 !important;
  }
}

.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 13px;
  color: crimson;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s all ease;
  opacity: 0;
  white-space: nowrap;

  span {
    // background-color: #fff;
    padding: 0 5px;
    border-radius: 5px;
  }

  &.valid {
    visibility: visible;
    opacity: 1;
  }

  &.service_feedback {
    bottom: -100%;
  }

  &.type_feedback {
    bottom: -100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.dir-slider {
  direction: ltr !important;
}

.ms-auto {
  margin-left: unset !important;
  margin-right: unset !important;
  margin-inline-start: auto !important;
}

.fs-10px {
  font-size: 10px;
}

.fs-13px {
  font-size: 13px;
}

.txt-nowrap {
  white-space: nowrap;
}

.fs-14px {
  font-size: 14px;
}

.min-w-unset {
  min-width: unset;
}

.nav-icon {
  @extend .flex-center;
  @include mixins.shape(40px);
  @include mixins.border-radius(50%);
  font-size: 20px;
  border: 1px solid map_get(colors.$theme-colors, primary);

  .flag {
    width: 24px;
    @include mixins.border-radius(8px);
  }
}

.pulse {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 11px;
  @include mixins.shape(5px);
  @include mixins.border-radius(50px);
  background: map_get(colors.$theme-colors, danger);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 71, 61, 0.9);
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -ms-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;

  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 71, 61, 0.9);
    box-shadow: 0 0 0 0 rgba(255, 71, 61, 0.7);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 71, 61, 0);
    box-shadow: 0 0 0 10px rgba(255, 71, 61, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 71, 61, 0);
    box-shadow: 0 0 0 0 rgba(255, 71, 61, 0);
  }
}

//  progress status
.progress-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    display: block;
    height: 1px;
    border: 1px dashed #ddd;
    top: 15px;
    z-index: -1;
    right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    display: block;
    height: 1px;
    border: 1px dashed #ddd;
    top: 15px;
    z-index: -1;
    left: 0;
  }

  &.paid-completed {
    &::after {
      border-color: map_get(colors.$theme-colors, primary);
    }
  }

  &.current-completed {
    &::before {
      border-color: map_get(colors.$theme-colors, primary);
    }

    &::after {
      border-color: map_get(colors.$theme-colors, primary);
    }
  }

  .progress-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;

    @media (max-width: 767px) {
      flex-shrink: 0;
    }

    .step-circle {
      position: relative;
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      border-radius: 50%;
      display: flex;
      padding: 4px;

      .status-bullet {
        flex: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
      }
    }

    &.current {
      .status-bullet {
        background-color: map_get(colors.$theme-colors, primary);
      }
    }

    &.completed {
      .step-circle {
        padding: 0;

        .status-bullet {
          background-color: map_get(colors.$theme-colors, primary);
          color: #fff;
        }

        &::after {
          border-color: map_get(colors.$theme-colors, primary);
        }
      }
    }

    &:last-child {
      .step-circle {
        &::after {
          display: none;
        }
      }
    }
  }
}

html[lang="en"] {
  .progress-status {
    &.paid-completed {
      &::before {
        border-color: map_get(colors.$theme-colors, primary);
      }

      &::after {
        border-color: #ddd;
      }
    }

    &.current-completed {
      &::after {
        border-color: map_get(colors.$theme-colors, primary);
      }

      &::after {
        border-color: map_get(colors.$theme-colors, primary);
      }
    }
  }
}

.card-style {
  background-color: map_get(colors.$theme-colors, cardBg);
  border: 1px solid map_get(colors.$theme-colors, cardBorder);
  @include mixins.border-radius(8px);
}

/* end common style*/

/* Start nav */

nav {
  position: sticky;
  background: #f9f9f9;
  width: 100%;
  z-index: 2;
  top: 0;
  padding-block: 15px;
  @include mixins.transition(all 0.5s ease-in-out);

  &.change-bg {
    @include mixins.prefix(
      box-shadow,
      0 4px 11px 0 rgba(0, 0, 0, 0.08),
      webkit ms o
    );
  }

  .menu {
    justify-content: space-between;
    padding: 10px 20px;

    img.logo {
      width: 125px;
    }

    .menu-links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        margin-inline-end: 30px;

        a,
        .lang {
          position: relative;
          text-transform: capitalize;
          color: #000;
          @include mixins.transition(all 0.5s ease-in-out);
          font-weight: 600;

          &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            right: 0;
            height: 1px;
            width: 0px;
            border: 1px solid transparent;
            @include mixins.transition(all 0.3s ease-in-out);
          }

          &.router-link-active,
          &:hover {
            color: map_get(colors.$theme-colors, primary);

            &::after {
              width: 30px;
              border-color: map_get(colors.$theme-colors, primary);
            }
          }
        }
      }
    }
  }

  .avatar {
    @include mixins.shape(40px);
    @include mixins.border-radius(50%);
    border: 1px solid map_get(colors.$theme-colors, primary);
  }
}

//  select dropdown
// .p-dropdown {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   max-height: 230px !important;
//   padding: 0;
//   border: 2px solid #ddd;
//   background-color: transparent;
//   color: #000;
//   transition: 0.3s all ease;
//   border-radius: 5px;
//   font-size: 13px;
//   padding-inline-start: 30px;
//   font-family: 'Montserrat', sans-serif !important;

//   &.p-overlay-open {
//     box-shadow: none;
//   }

//   .p-dropdown-label {
//     padding: 10px 0;
//     font-size: 13px;
//     font-family: 'Montserrat', sans-serif !important;
//   }

//   &:not(.p-disabled) {
//     &:hover {
//       border-color: map_get(colors.$theme-colors, primary);
//     }

//     &.p-focus {
//       box-shadow: none;

//       .p-dropdown-trigger {
//         color: map_get(colors.$theme-colors, primary);
//       }
//     }
//   }

//   &.code {
//     padding-inline-start: 10px;
//     width: 80px;
//     border: 0;

//     &::after {
//       position: absolute;
//       right: 0;
//       content: '';
//       background-color: #ddd;
//       top: 0;
//       bottom: 0;
//       margin: auto;
//       width: 1px;
//       height: 70%;
//     }

//     .p-dropdown-trigger {
//       width: 1rem !important;
//       margin-inline-end: 6px;
//     }

//     .p-dropdown-label {
//       overflow: visible;
//       padding: 15px 0;
//     }

//     .p-icon {
//       width: 10px !important;
//       height: 10px !important;
//     }
//   }
// }
.p-dropdown,
.p-multiselect {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 2px solid #ddd;
  background-color: #fff;
  color: map_get(colors.$theme-colors, primary);
  transition: 0.3s all ease;
  border-radius: 0;
  font-size: 12px;
  padding-inline-start: 30px;

  &.p-overlay-open {
    box-shadow: none;
  }

  .p-dropdown-label,
  .p-multiselect-label {
    padding: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &:not(.p-disabled) {
    &:hover {
      border-color: map_get(colors.$theme-colors, primary);
    }

    &.p-focus {
      box-shadow: none;
      border-color: map_get(colors.$theme-colors, primary);

      // border-bottom: 0;
      // border-radius: 10px 10px 0 0;
      .p-dropdown-trigger {
        color: map_get(colors.$theme-colors, primary);
      }
    }
  }

  &.code {
    padding-inline-start: 10px;
    width: 80px;
    border: 0;
    background-color: transparent;

    &::after {
      position: absolute;
      right: 0;
      content: "";
      background-color: #ddd;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 70%;
    }

    .p-dropdown-trigger {
      width: 1rem !important;
      margin-inline-end: 6px;
    }

    .p-dropdown-label {
      overflow: visible;
      padding: 15px 0;
    }

    .p-icon {
      width: 10px !important;
      height: 10px !important;
    }
  }
}

.p-dropdown-panel,
.p-multiselect-panel {
  background-color: rgb(248, 249, 251);
  background: #fff;
  color: #495057;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  .p-dropdown-header {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #dee2e6;
    color: #343a40;
    background: #fff;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .p-dropdown-header {
    .p-dropdown-filter {
      font-size: 12px;
      padding: 5px 35px;
      margin-right: 0;
      height: 35px;
      border: 1px solid #ddd;

      &:focus {
        box-shadow: none;
        border-color: map_get(colors.$theme-colors, primary);
      }
    }

    .p-dropdown-filter-icon {
      position: absolute;
      top: 50%;
      margin-top: -0.5rem;
      right: 0.75rem;
      color: #6c757d;
    }
  }

  .p-dropdown-items,
  .p-multiselect-items {
    padding: 0.75rem 0;

    .p-dropdown-empty-message {
      padding: 10px;
    }

    .p-dropdown-item,
    .p-multiselect-item {
      margin: 0;
      border: 0 none;
      color: #495057;
      background: transparent;
      transition: box-shadow 0.2s;
      border-radius: 0;
      cursor: pointer;
      font-weight: normal;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      font-size: 12px;
      font-size: 12px;
      padding: 15px;

      &.p-highlight {
        color: map_get(colors.$theme-colors, primary) !important;
        background: map_get(colors.$theme-colors, light) !important;
      }
    }
  }
}

.p-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.p-dropdown-filter-container {
  position: relative;
}

.p-dropdown-filter {
  width: 100%;
}

.p-dropdown-items-wrapper {
  overflow: auto;
}

html[lang="ar"] {
  .p-dropdown {
    font-family: "El Messiri", sans-serif;
  }
}

//  pagenation
.p-paginator-rpp-options {
  width: 50px;
  padding: 5px;

  .p-dropdown-trigger {
    width: fit-content !important;
  }

  .p-inputtext {
    padding: 2px !important;
  }
}

.p-paginator {
  .p-paginator-pages {
    .p-paginator-page {
      &.p-highlight {
        background: #229ddb21;
        border-color: map_get(colors.$theme-colors, primary) !important;
        color: map_get(colors.$theme-colors, primary);
      }
    }
  }
}

.p-link:focus {
  box-shadow: none !important;
}

html[lang="en"] {
  .addition {
    left: unset;
    right: 0;
  }

  .p-dropdown::after {
    left: 0 !important;
    right: unset !important;
  }
}

/*Small Screen*/

html[lang="en"] {
  nav {
    .menu {
      .menu-links {
        a,
        .lang {
          &::after {
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}

/* end nav */

/* start footer */
footer {
  padding: 50px 0 0;
  background-color: #f5f5f5;

  .footer-list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: flex-start;
        gap: 13px;
        margin-bottom: 10px;
        transition: 0.3s all ease;

        &.move {
          transition: 0.3s all ease;
        }
      }
    }
  }

  .logo {
    width: 225px;
    height: 57px;
  }

  .foot-links {
    a {
      color: map_get(colors.$theme-colors, secondary);

      &:hover {
        color: map_get(colors.$theme-colors, primary);
      }
    }
  }

  .download-btns {
    img {
      width: 135px;
    }
  }

  .footer-bottom {
    background-color: #e0e0e0;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-weight: 600;
  }
}

/* end footer */
// tab panel
.p-tabview-nav {
  border: 0;
  margin-bottom: 30px;

  .p-tabview-header {
    width: 50%;

    a {
      display: flex;
      justify-content: center;
      padding: 20px;
      font-weight: 900;
      color: map_get(colors.$theme-colors, secondary);
    }
  }
}

.p-tabview-panel {
  animation: actDown 0.5s forwards;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: map_get(colors.$theme-colors, primary);
  color: map_get(colors.$theme-colors, primary);
}

// end tab panel
/*start scroll top */

#scroll-top {
  @include mixins.shape(40px);
  line-height: 37px;
  color: #fff;
  background-color: map_get(colors.$theme-colors, primary);
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  @include mixins.transition(all 0.5s ease-in-out);
  border: 2px solid transparent;
  left: 15px;

  &:hover {
    background-color: #fff;
    color: map_get(colors.$theme-colors, primary);
    border: 2px solid map_get(colors.$theme-colors, primary);
  }
}

html[lang="en"] {
  #scroll-top {
    right: 15px;
    left: auto;
  }
}

.default_input:focus,
.default_input:not(:placeholder-shown) {
  &::placeholder {
    transform: translateX(110%);
  }
}

html[lang="en"] {
  .default_input:focus,
  .default_input:not(:placeholder-shown) {
    &::placeholder {
      transform: translateX(-110%);
    }
  }
}

textarea.default_input:focus,
textarea.default_input:not(:placeholder-shown) {
  &::placeholder {
    transform: translateX(150%);
  }
}

html[lang="en"] {
  textarea.default_input:focus,
  textarea.default_input:not(:placeholder-shown) {
    &::placeholder {
      transform: translateX(-150%);
    }
  }
}

.input_select {
  select {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(30, 54, 140, 0.1);
    background-color: rgba(30, 54, 140, 0.03);
    color: #000;
    transition: 0.3s all ease;

    &:focus-visible {
      outline: none;
      border-color: map_get(colors.$theme-colors, primary);

      & + .form-icon {
        img {
          filter: drop-shadow(0 0 0 blue);
        }
      }
    }
  }
}

//  radio input
.radio {
  margin: 2px 9px 0;
  width: 15px;
  height: 15px;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .radio-label {
      width: 15px;
      height: 15px;

      &:before {
        content: "";
        background: #fff;
        border-radius: 100%;
        border: 1px solid darken(#fff, 25%);
        display: inline-block;
        width: 18px;
        height: 18px;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      + .radio-label {
        &:before {
          background-color: map_get(colors.$theme-colors, primary);
          box-shadow: inset 0 0 0 4px #fff;
        }
      }
    }

    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: map_get(colors.$theme-colors, primary);
        }
      }
    }

    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #fff;
          border-color: darken(#fff, 25%);
          background: darken(#fff, 25%);
        }
      }
    }

    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

//  checkbox input

.p-checkbox {
  .p-checkbox-box {
    @include mixins.shape(17px);

    &.p-highlight {
      border-color: map_get(colors.$theme-colors, primary);
      background: map_get(colors.$theme-colors, primary);
    }

    .p-checkbox-icon {
      &.p-icon {
        @include mixins.shape(8px);
      }
    }
  }
}

.checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    outline: none !important;

    &:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 7px;
      width: 5px;
      height: 10px;
      border: solid map_get(colors.$theme-colors, primary);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  label {
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      background-color: transparent;
      border: 2px solid map_get(colors.$theme-colors, primary);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

//  feedback
// .feedback {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   padding: 0 5px 5px;
//   font-size: 10px;
//   color: crimson;
//   pointer-events: none;
//   visibility: hidden;
//   transition: 0.3s all ease;
//   opacity: 0;
//   white-space: nowrap;

//   span {
//     background-color: #fff;
//     padding: 0 5px;
//     border-radius: 5px;
//   }

//   &.valid {
//     visibility: visible;
//     opacity: 1;
//   }

//   &.service_feedback {
//     bottom: -100%;
//   }

//   &.type_feedback {
//     bottom: -100%;
//   }
// }

//  Otp inputs
.otp-inputs {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;

  .otp-input {
    width: 50px;
    height: 50px;
    padding: 5px;
    // margin: 0 10px;
    font-size: 20px;
    border: 1px solid map_get(colors.$theme-colors, primary);
    text-align: center;

    &:focus-visible {
      outline: none;
      border-color: map_get(colors.$theme-colors, primary);
      border-width: 2px;
    }
  }

  .otp-input.is-complete {
    background-color: #fff;
  }

  .otp-input::-webkit-inner-spin-button,
  .otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .otp-input::placeholder {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
  }
}

/*end scroll-top*/

// start selectbutton
.p-selectbutton {
  display: flex;
  flex-direction: column;

  .p-component {
    margin-bottom: 10px;
    font-size: 14px;
    @include mixins.border-radius(10px);
  }

  .p-button {
    @include mixins.transition(all 0.5s ease-in-out);
    border: 1px solid #ddd;

    &:focus {
      @include mixins.prefix(box-shadow, none, webkit ms o);
    }

    &.p-highlight {
      background: #2061ad26;
      border-color: map_get(colors.$theme-colors, primary);
      color: #000;
    }
  }
}

// end selectbutton

// start dialog

.p-component {
  font-family: "Montserrat", sans-serif !important;
}

html[lang="ar"] {
  .p-component {
    font-family: "El Messiri", sans-serif !important;
  }
}

.p-dialog {
  .status-icon {
    font-size: 100px;
  }
}

.no-header {
  .p-dialog-header {
    display: none;
  }

  .p-dialog-content {
    padding: 3rem 1.5rem;
    @include mixins.border-radius(6px);
  }
}

// end dialog
.input-layout {
  border: 2px solid #ddd !important;
  color: #000;
  height: 40px;
  padding: 10px;
  @include mixins.border-radius(5px);
}

// start calender
.p-calendar {
  width: 100%;
  height: 40px;

  .p-inputtext {
    border: 2px solid #ddd !important;
    color: #000;
    font-size: 14px;
  }

  &:not(.p-calendar-disabled).p-focus > .p-inputtext {
    box-shadow: none;
    border-color: initial;
  }
}

.p-datepicker {
  width: fit-content !important;
  min-width: unset !important;
}

.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > i:last-of-type {
  color: map_get(colors.$theme-colors, primary);
}

html[lang="ar"] {
  .ms-2 {
    margin-right: 0.5rem !important;
  }
  .form-check {
    padding-left: 0;
    padding-right: 1.5em;
    .form-check-input {
      float: right;
      margin-left: 0;
      margin-right: -1.5em;
    }
  }

  .rotateY180 {
    transform: rotateY(-180deg);
  }

  .p-datepicker-header {
    .p-datepicker-prev,
    .p-datepicker-next {
      transform: rotateY(-180deg);
    }
  }

  .p-input-icon-right > svg:last-of-type,
  .p-input-icon-right > i:last-of-type {
    left: 0.75rem;
    right: auto;
  }

  .p-input-icon-right > .p-inputtext {
    padding-left: 2.5rem;
    padding-right: 0.75rem;
  }
}

// end calender
//  modal
.site-modal {
  position: relative;
  background-color: #fff;
  border-radius: 0;

  .p-dialog-header-close {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: map_get(colors.$theme-colors, danger);
    color: #fff;
  }

  .p-dialog-content {
    padding: 0;
  }

  &.none-header {
    .p-dialog-header {
      padding: 0;
    }
  }
}

// end modal
// start checkbox
.form-check-input {
  border: 2px solid #ddc;
  width: 20px;
  height: 20px;

  &:focus {
    border-color: map_get(colors.$theme-colors, primary);
    box-shadow: none;
  }

  &:checked {
    background-color: map_get(colors.$theme-colors, primary);
    border-color: map_get(colors.$theme-colors, primary);
  }
}

// end checkbox
// custom dropdown
.dropShow-enter-active {
  animation: scale-in 0.2s forwards;
}

.dropShow-leave-active {
  animation: scale-in 0.2s reverse;
}

@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 0 12px #ddd;
  border-radius: 0;
  display: block;
  list-style: none;
  padding: 0;
  margin: auto;
  top: 40px;
  left: 0;
  right: 0;
  min-width: fit-content;

  .dropdown-item {
    padding: 10px 20px;

    &:active {
      background-color: #f8f9fa;
      color: #000;
    }

    &.active {
      background-color: #f8f9fa;
      color: #000;
    }
  }

  .user-icon {
    width: 24px;
    height: 24px;
  }

  .user-txt {
    flex-grow: 1;
    text-align: start;
    font-size: 14px;
    font-weight: 100;
  }

  &.noti-dropdown {
    min-width: 300px;
    left: -100px;
    gap: 0;
    align-items: baseline;

    li {
      width: 100%;

      &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

html[lang="ar"] {
  .text-start {
    text-align: right !important;
  }

  .dropdown-menu {
    text-align: right;

    &.noti-dropdown {
      right: -100px;
      left: auto;
    }
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdownToggle {
  border: 0;
  outline: none;
}

.p-rating {
  gap: 0.2rem;

  .p-rating-item {
    &.p-rating-item-active {
      .p-rating-icon {
        color: #ffba35;
      }
    }

    .p-rating-icon {
      &.p-icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}

// start count
.count {
  @extend .flex-center;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  color: white;
  @include mixins.shape(12px, 50%);
  background-color: map_get(colors.$theme-colors, danger);
  top: -10px;
  right: -5px;
}

html[lang="ar"] {
  .count {
    left: -5px;
    right: auto;
  }
}

/* Start Media Query */

@media (max-width: 767px) {
  .w-75,
  .w-25 {
    width: 100% !important;
  }

  .w-50 {
    width: 100% !important;
  }

  .fs-2 {
    font-size: 17px !important;
  }

  h5 {
    font-size: 15px;
  }

  .fs-13px {
    font-size: 12px;
  }

  h6 {
    font-size: 14px;
  }

  .fs-6,
  p,
  .fs-14px,
  #app {
    font-size: 13px !important;
  }

  .p-selectbutton {
    .p-component {
      font-size: 13px;
    }
  }

  .btn {
    height: 40px;
  }

  nav {
    padding-block: 25px;

    .menu-bar {
      .logo {
        width: 85px;
      }

      .toggle {
        display: flex;
        align-items: center;
        color: map_get(colors.$theme-colors, primary);
        font-size: 30px;
        cursor: pointer;
        font-size: 25px;
      }
    }

    .menu {
      margin: 0;
      padding: 15px;
      background-color: #547795;
      position: fixed;
      width: 260px;
      height: 100%;
      top: 0;
      @include mixins.prefix(transform, scaleX(1), webkit ms o);
      @include mixins.transition(all 0.5s ease-in-out);
      text-align: right;
      right: -100%;
      @include mixins.prefix(transform-origin, right, webkit ms o);
      @include mixins.border-radius(0);
      display: block !important;
      overflow: auto;

      &.ul-dir {
        right: 0;
      }

      .menu-links {
        align-items: flex-start;
        flex-direction: column;
        margin-top: 10px;

        li {
          margin: 0 5px 20px;

          a,
          .lang {
            font-size: 13px;
            color: #fff;

            &.router-link-active,
            &:hover {
              color: #fff;

              &::after {
                border-color: #fff;
              }
            }
          }
        }
      }

      .btn-primary {
        background-color: map_get(colors.$theme-colors, primary) !important;
        color: #fff !important;
      }
    }

    .overlay {
      position: fixed;
      background-color: rgba(00, 00, 00, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      margin: auto;
      @include mixins.transition(all 0.5s ease-in-out);
      @include mixins.prefix(transform, scaleX(0), webkit ms o);
      left: 0;
      @include mixins.prefix(transform-origin, left, webkit ms o);

      &.active {
        @include mixins.prefix(transform, scaleX(1), webkit ms o);
      }
    }

    .dropdownToggle {
      color: #fff !important;

      .fa-chevron-down {
        color: #fff !important;
      }
    }

    .auth-btns,
    .side-btns {
      flex-direction: column;
      align-items: flex-start !important;
    }

    .nav-icon,
    .avatar {
      border-color: #fff;
      color: #fff;

      &.mx-4 {
        margin: 20px 0 !important;
      }
    }

    .dropdown-menu {
      height: 200px;
      overflow-y: auto;

      .user-txt {
        font-size: 11px;
      }
    }
  }

  .dropdown-menu {
    &.noti-dropdown {
      min-width: 220px;
      left: -100px;
    }
  }

  html[lang="ar"] {
    .dropdown-menu {
      &.noti-dropdown {
        right: -100px;
        left: auto;
      }
    }
  }

  footer {
    font-size: 13px;

    // .logo {
    //   width: 125px;
    // }

    h6 {
      text-align: center;
    }

    .foot-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  html[lang="en"] {
    nav {
      .menu {
        text-align: left;
        @include mixins.prefix(transform-origin, left, webkit ms o);
        left: -100%;
        right: auto;

        &.ul-dir {
          left: 0;
          right: auto;
        }
      }

      .overlay {
        right: 0;
        left: auto;
        @include mixins.prefix(transform-origin, right, webkit ms o);
      }
    }
  }
}

/*Small Screen*/

@media (min-width: 768px) and (max-width: 991px) {
  .fs-2 {
    font-size: 19px !important;
  }

  .fs-6,
  p {
    font-size: 14px !important;
  }

  .h6,
  h6 {
    font-size: 1rem;
    font-size: 14px;
  }

  .w-50 {
    width: 75% !important;
  }

  .w-75 {
    width: 100% !important;
  }

  .w-25 {
    width: 50% !important;
  }

  nav {
    .menu {
      justify-content: center;
      padding: 10px 0;

      img.logo {
        width: 85px;
      }

      .menu-links {
        li {
          margin-inline-end: 20px;
          font-size: 13px;
        }
      }
    }

    .auth-btns,
    .side-btns {
      margin-top: 20px;
    }
  }

  .dropdown-menu {
    &.noti-dropdown {
      min-width: 260px;
      left: -110px;
    }
  }

  html[lang="ar"] {
    .dropdown-menu {
      &.noti-dropdown {
        right: -110px;
        left: auto;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  nav {
    .menu {
      justify-content: center;

      img.logo {
        width: 95px;
      }
    }

    .side-btns {
      margin-top: 25px;
    }
  }

  .dropdown-menu {
    &.noti-dropdown {
      min-width: 230px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .dropdown-menu {
    &.noti-dropdown {
      min-width: 245px;
    }
  }
}

/*Larger Screen*/

// toast style
.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(255, 231, 230, 0.7);
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}

.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.p-toast-message {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}

.p-toast-message-content {
  display: flex;
  align-items: flex-start;
}

.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-toast-message-icon.p-icon {
  width: 2rem;
  height: 2rem;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #ff5757;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}

.p-toast-message-text {
  flex: 1 1 auto;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}

.container {
  max-width: 100% !important;
  padding-inline: 80px;
}

@media (max-width: 992px) {
  .container {
    padding-inline: 20px;
  }
}
